<html>
    <head>
  <title>
      <%= title %>
  </title>
    </head>
    <body>
        <h1>playground,swings,pool,rides</h1>
        <ul>
            <% for(let i=0;i<10;i++){ %>
          <li>
              <%= i %>
          </li>
            <%}%>
        </ul>

        <% if(true){%>
            <h1>its true!!</h1>
       <% }
        else
        {%>
            <h1>its false!</h1>
        <%}%>
    </body>
</html>